
body, h2, p, input, select {
    margin:2px;
    padding:1px;
}

table {
    border-collapse: collapse; 
    border: 1px solid grey; 
}

th, td , tr, th {
    border: 2px solid grey;
    padding:3px;
}

body, input, select{
    color: #669;
    font-size: 18px;
}

a {
    text-decoration: none;
}

#header{ 
    background-color: #dedede;
    border-bottom: 1px solid #ccc;
    height: 80px;
    text-align: center;
}
#menu{
/*    background-color: #ddd;*/
    float: left;
    width: 200px;
}
#main{
/*    background-color: #f7f7f7;
    border-left: 1px solid #ccc;*/
    margin-left: 200px;
    padding: 10px;
}
#footer{ 
    border-top: 1px solid #ccc;
    background-color: #dedede;
    text-align: right;
}