%include('./templates/header.tpl', style='../static/styles.css', username=username)

<p>Ввиду сложных процессов (сбор,получение,проверка информации) по годовой отчетности по районам от врачей-дерматологов, </p> 
<p>было разаработано данное веб-приложение, которое предназначено для сбора, статистика и хранения данных по кожным заболеваниям. </p>
<p>В данном приложении можно контролировать:
    <ul>
        <li>получение данных от врачей (время, дата, % ) </li>
        <li>редактирование,корректирование, подсчет результатов </li>
        <li>хранение и статистика данных</li>
        <li>повторное использование данных </li>
    </ul>

%if username is None:
    <a href="/">На главную</a>
%end
</p>

%include('./templates/footer.tpl')
