%include('./templates/header.tpl', style='../static/styles.css', username=None)
%if msg != '':
    <p style ="color: red;"> {{msg}} </p>
%end
<form action="/login" method="post">
<label>Логин</label>
<input type="text" name="username" value="" size="50" maxlength="50">
<br>
<label>Пароль</label>
<input type="password" name="password" value="" size="50" maxlength="50">
<br>

<input type="submit" name="login" value="Вход" align="right">
</form>

%include('./templates/footer.tpl')