%include('./templates/header.tpl', style='./static/styles.css', username=None)

<p> Регистрация :</p>
<form action="/reg" method="post">

<label>Почта</label>
<input type="text" name="email" value="" size="50" maxlength="50">
<br>

<label>Район</label>
<select name="region" placeholder="Район">
%for r in regions:
        <option value="{{r[0]}}"> {{r[1]}} </option> 
%end
</select><br>

<input type="submit" name="regist" value="Регистрация">
</form>

%include('./templates/footer.tpl')