%include('./templates/header', style='./static/styles.css',  username=None)

<h2 align="center">Добро пожаловать на ресурс отчетности по Дерматологии</h2>
<div style="font-size: 100%;" align="right">
    <a href=/login> Вход </a><br>
    <a href=/reg> Регистрация </a>
</div>
%include('./templates/footer')